export(crudeMC)
export(exhaustiveSearch)
export(conditionalPoisson)
export(setDefaultPrec)
export(withoutReplacement)
export(withoutReplacementSingleStep)
export(withoutReplacementMerging)
export(withoutReplacementMergingWithVariance)
export(calculateConditionalPoissonDensity)
export(conditionalPoissonBootstrap)
export(conditionalPoissonBootstrapMerging)
